.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.header-btn {
  /* padding: 10px 20px; */
  border-radius: 10px;
  border: 2px solid black;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  font-weight: 900;
}
.header-counter {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}