.App {
  height: 100vh;
  background-image: url(https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
}
